body {
  background-color: #f5f5f5;  
  font-family: 'Arial', sans-serif;
  color: #333;
}

h1, p {
  color: #333;  
}

button {
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);  
}

footer {
  background-color: #f1f1f1; 
}

footer p {
  color: #e1e1e1; 
}

.container {
  padding-top: 80px; 
}

button.w-100 {
  height: 40px; 
  display: inline-block;
}

/* Modal Detalhes */
.modal-body {
  padding: 20px;
}

h5 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

.list-group-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.list-group-item p {
  margin: 2px 0;
}
